@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

/* Time Section */

.time_section {
  margin: 0 auto;
  background-image: url("./assets/desktop/bg-image-nighttime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 800px;
  border: 0.2rem solid red;
  padding: 2em 6em;
}

.quote {
  max-width: 573px;
}

.quote_heading {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
}

.quote_author {
  font-weight: 700;
  margin-top: 1em;
}
